<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%- include('styleScripts.ejs') %>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/homepage.css" />
		<link rel="stylesheet" href="/sweetalert2/sweetalert2.css" />
		<style>
			.homepageBtn {
				width: 100%;
				margin: 50% auto;
			}

			#ajnalogo {
				margin: 5px;
				height: 35px;
			}
		</style>

</head>

<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<a class="navbar-brand" href="#">
				<img id="ajnalogo" src="./images/AjnaSuite_Logo_Main.png" alt="AjnaSuite" />
			</a>
			<div id="tour-fullwidth" class="navbar-btn" style="display: none;">
				<button type="button" class="btn-toggle-fullwidth"><i class="fas fa-chevron-circle-right"></i></button>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<!-- <input class="mr-sm-2 navbar-search" type="search" placeholder="Search"
						aria-label="Search"> -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="images/user2.png" id="user_img" class="img-responsive img-circle" alt="Avatar"
							height="45px" width="45px">
					</a>
					<ul class="dropdown-menu logged-user-menu list-justify">
						<li>Name : <span id="user-info-name"> <b></b></span></li>
						<li>Team : <span id="user-info-group"> <b>AjnaLens</b></span></li>
						<li>Email : <span id="user-info-email"> <b></b></span></li>
						<li style="text-align: center;"><button type="button" class="btn btn-sm"
								id="editProfBtn">Edit</button></li>
						<!-- <li>Gender : <span><b> Male</b></span></li> -->
					</ul>
				</form>

			</div>
		</nav>

		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<!-- <div class="collapse navbar-collapse" id="sidenavbarSupportedContent"> -->
			<nav>
				<ul class="nav" id="sidebar-nav-menu">
					<div class="col-md-12">
						<li><i class="fas fa-lg fa-home"></i> <b>Home</b></li>
					</div>
					<div class="col-md-12">
						<li><i class="fas fa-lg fa-network-wired"></i> <b>Integration</b></li>
					</div>
					<!-- <div class="col-md-12">
							<li data-toggle="modal" data-target="#modalSettings"><i class="fas fa-lg fa-cog"></i> <b>Settings</b></li>
						</div> -->
					<div class="col-md-12">
						<li data-toggle="modal" data-target="#assets"><i class="fa fa-lg fa-files-o"></i> <b>Assets</b>
						</li>
					</div>
					<div class="col-md-12" id="releasesDiv">
						<li><i class="fas fa-lg fa-code-branch"></i> <b>Releases</b></li>
					</div>
					<div class="col-md-12" id="updateFormDiv" style="display: none;">
						<li><i class="fas fa-lg fa-file-code"></i> <b>Push Update</b></li>
					</div>
					<div class="col-md-12" id="supportDiv">
						<li><i class="fas fa-lg fa-headset"></i> <b>Support</b></li>
					</div>
					<div class="col-md-12" id="editorDiv">
						<li><i class="fas fa-lg fa-binoculars"></i> <b>Scene Editor</b></li>
					</div>
				</ul>
				<div class="bottom-nav-menu">
					<hr>
					<ul class="nav" id="sidebar-nav-menu-bottom">
						<div class="col-md-12">
							<li> <b>About</b></li>
						</div>
						<div class="col-md-12">
							<li> <b>Help</b></li>
						</div>
						<div class="col-md-12" id="logoutDiv">
							<li> <b>Logout</b></li>
						</div>
					</ul>
				</div>
			</nav>
			<!-- </div> -->
		</div>
		<!-- END LEFT SIDEBAR -->

		<div class="main">
			<div class="main-content">
				<div class="content-heading clearfix">
					<h2><span id="greeting"></span>, <span id="user_name"></span></h2>
				</div>
				<div class="row btnRow">
					<div class="col-md-3"></div>
					<div class="col-md-3">
						<button class="btn btn-lg homepageBtn" id="redirect_RM"> Remote Assistance</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-lg homepageBtn" id="redirect_Steps"> Visualiser</button>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="assets" tabindex="-1" role="dialog" aria-labelledby="joinModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content homepageModal">
				<div class="modal-header">
					<h5 class="modal-title" id="modalJoinTitle">Stored Assets</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row" style="text-align: center;">
							<div class="col-md-12">
								<div class="field-wrapper">
									<select class="btn btn-dark mr-2" id="assetList"
										style="text-align-last:center; width: 300px;">
										<option value=''>--Select To Delete Asset--</option>
									</select>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div class="modal-footer">
					<!-- <button id ="saveDeviceSubmit" type="button" class="btn btn-primary homepageBtn" >Save</button> -->
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="openSceneModal" tabindex="-1" aria-labelledby="openSceneModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="openSceneModalLabel">Open Scene</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="text-align: center;">
					<select id="sceneSelect">
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" id="createNewSceneBtn" class="btn btn-secondary" data-dismiss="modal">Create
						New</button>
					<button type="button" class="btn btn-primary" id="openSelectedSceneBtn">Edit</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Global Variables -->
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-storage.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="./js/firebase-config.js"></script>
	<!-- JQuery & Bootstrap Dependency -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="/sweetalert2/sweetalert2.js"></script>
	<script src="/js/common.js"></script>

	<script src="/js/dashboardScript.js"></script>

</body>

</html>