<!DOCTYPE html>
<html>

<head>
    <title>Collaboration Space</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- BootStrap 4 CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- FontAwesome 5 CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Google Material Design, Font CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Custom Controllers -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r123/three.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/three-freeform-controls@0.1.12/dist/three-freeform-controls.umd.js"></script> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/dashboardRAtest.css" />
    <link rel="stylesheet" href="/css/annotationCSS.css" />
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js"
        integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg=="
        crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/three@0.126.1/build/three.module.js"></script> -->
    <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://unpkg.com/three@0.126.1/examples/js/controls/TransformControls.js"></script>
    <script src="https://unpkg.com/three@0.126.1/examples/js/controls/OrbitControls.js"></script>
    <!-- <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/renderers/CSS2DRenderer.js"></script> -->
    <script src="//unpkg.com/three-spritetext"></script>

    <script src="/js/cannon.js"></script>

    <style>
        .navbar-control {
            display: none;
        }
    </style>
</head>

<body>
    <div id="cursor" style="display: none;">
        <div class="cursor-point"></div>
    </div>
    <canvas class="webgl"></canvas>
    <div id="video">
        <div id="local_stream" class="video-placeholder"></div>
        <div id="local_video_info" class="video-profile hide"></div>
        <div id="video_autoplay_local" class="autoplay-fallback hide"></div>
    </div>

    <div id="overlay" style="display: none;">
        <div class="cross x">x</div>
        <div class="bar top">
            <div class="rel">
                <div class="icon-button clickable" id="exit" style="margin-left: 30px; margin-top: 22px;">
                    <img id="logout" class="icon custom-tooltip" src="/images/newUI/exit.svg" alt="exit"
                        tooltipTitle="Exit" />
                </div>
            </div>
        </div>
        <div class="loadingDiv">
            <div class="loader"></div>
            <div>
                <h3>Loading screenshot</h3>
            </div>
        </div>
        <div class="bar bottom">
            <div class="rel">
                <div class="icon-button-goup left">
                    <div id="muteAudio" class="icon-button clickable">
                        <img class="icon custom-tooltip" src="/images/newUI/Mic.svg" alt="Mic" data-placement="right"
                            data-container="body" tooltipTitle="Mic" />
                    </div>
                    <div id="muteVideo" class="icon-button clickable">
                        <img class="icon custom-tooltip" src="/images/newUI/video.svg" alt="muteVideo"
                            data-placement="right" data-container="body" tooltipTitle="Video" />
                    </div>
                </div>
                <textarea style="display: none;" id="stickyText"
                    placeholder="This is a sticky note you can type and edit."></textarea>
                <div class="toolbar">
                    <!-- <div class="icon-button clickable toolbar-btn toolbar-btn-main">
                        <img class="icon" src="/images/newUI/Sticky.svg" alt="exit" />
                    </div> -->
                    <div class="icon-button clickable toolbar-btn toolbar-btn-main">
                        <img class="icon custom-tooltip" src="/images/newUI/Insert.svg" alt="load" data-placement="top"
                            data-container="body" tooltipTitle="Upload Asset" data-toggle="modal"
                            data-target="#openLibraryModal" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-main" id="tv">
                        <img class="icon custom-tooltip" src="/images/newUI/TV.png" alt="TV" data-placement="top"
                            data-container="body" tooltipTitle="TV" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-main btn_msgs">
                        <img class="icon custom-tooltip" src="/images/newUI/Chat.svg" alt="Chat" data-placement="top"
                            data-container="body" tooltipTitle="Chat" />
                    </div>
                    <div id="showScreenshotsBtn" class="icon-button clickable toolbar-btn toolbar-btn-main">
                        <img class="icon custom-tooltip" src="/images/newUI/gallery.png" alt="SS" data-toggle="modal"
                            data-target="#screenshot_modal" data-placement="top" data-container="body"
                            tooltipTitle="Screenshots">
                    </div>

                    <!-- dynamic toolbar btns -->
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-image toolbar-btn-model"
                        id="annotate-button">
                        <img class="icon custom-tooltip" src="/images/newUI/arrow.svg" alt="Annotate"
                            data-placement="right" data-container="body" tooltipTitle="Annotate" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-trsds" id="t">
                        <img class="icon custom-tooltip" src="/images/newUI/translate.svg" alt="Translate"
                            data-placement="right" data-container="body" tooltipTitle="Position" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-trsds" id="r">
                        <img class="icon custom-tooltip" src="/images/newUI/rotate.svg" alt="Rotate"
                            data-placement="right" data-container="body" tooltipTitle="Rotate" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-trsds" id="s">
                        <img class="icon custom-tooltip" src="/images/newUI/scale.svg" alt="Scale"
                            data-placement="right" data-container="body" tooltipTitle="Scale" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-trsds"
                        id="frontSpawn">
                        <img class="icon custom-tooltip" src="/images/newUI/street.svg" alt="Teleport"
                            data-placement="right" data-container="body" tooltipTitle="Teleport" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-dispersed"
                        id="disperseBtn">
                        <img class="icon custom-tooltip" src="/images/disperse.png" alt="exit" data-placement="right"
                            data-container="body" tooltipTitle="Disperse" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-dispersed"
                        id="restoreBtn">
                        <img class="icon custom-tooltip" src="/images/restore.png" alt="Restore Model"
                            data-placement="right" data-container="body" tooltipTitle="Restore" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-dispersed"
                        id="selectParentBtn">
                        <img class="icon custom-tooltip" src="/images/level_up.png" alt="Select Parent"
                            data-placement="right" data-container="body" tooltipTitle="Select Parent" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-doc" id="previous">
                        <img class="icon custom-tooltip" src="/images/newUI/left.png" alt="previous"
                            data-placement="right" data-container="body" tooltipTitle="Prev Page" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-doc" id="next">
                        <img class="icon custom-tooltip" src="/images/newUI/right.png" alt="next" data-placement="right"
                            data-container="body" tooltipTitle="Next Page" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-video" id="play">
                        <img class="icon custom-tooltip" src="/images/newUI/play.svg" alt="play" data-placement="right"
                            data-container="body" tooltipTitle="Play" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-model toolbar-btn-image"
                        id="ax">
                        <img class="icon custom-tooltip" src="/images/newUI/removeArrow.png" alt="Remove Annotations"
                            data-placement="right" data-container="body" tooltipTitle="Remove Annotations"
                            style="width: 1.5em; height: 1.5em;" />
                    </div>
                    <!-- <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic" id="zoomin">
                        <img class="icon" src="/images/zoom_in.png" alt="zoomin" />
                    </div> -->
                    <!-- <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic" id="zoomout">
                        <img class="icon" src="/images/zoom_out.png" alt="zoomout" />
                    </div> -->
                    <!-- <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic" id="pinScreen">
                        <img class="icon" src="/images/newUI/Chat.svg" alt="pinScreen" />
                    </div> -->
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-ajnax"
                        id="unpinScreen">
                        <img class="icon custom-tooltip" src="/images/newUI/attachToAvatar.png" alt="attachToAvatar"
                            data-placement="right" data-container="body" tooltipTitle="Attach to Avatar" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-image"
                        id="saveAnnotations">
                        <img class="icon custom-tooltip" src="/images/newUI/saveAnnotations.png" alt="saveAnnotations"
                            data-placement="right" data-container="body" tooltipTitle="Save Annotated Img"
                            style="width: 1.5em; height: 1.5em;" />
                    </div>
                    <div id="screenshare" class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-tv">
                        <img src="/images/newUI/Screen.svg" class="icon custom-tooltip" data-placement="right"
                            data-container="body" tooltipTitle="Share Screen" style="width: 1.5em;">
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-ajnax"
                        id="screenShot">
                        <img class="icon custom-tooltip" src="/images/ScreenshotsWhite.png" alt="screenShot"
                            data-placement="right" data-container="body" tooltipTitle="Take screenshot" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-tv" id="attach">
                        <img class="icon custom-tooltip" src="/images/newUI/Insert.svg" alt="attachToTV"
                            data-toggle="modal" data-target="#openAttachmentModalTV" data-placement="right"
                            data-container="body" tooltipTitle="Share on Screen" />
                    </div>
                    <div class="icon-button clickable toolbar-btn toolbar-btn-dynamic toolbar-btn-trsds" id="x">
                        <img class="icon custom-tooltip" src="/images/newUI/Delete2.svg" alt="Delete"
                            data-placement="right" data-container="body" tooltipTitle="Delete" />
                    </div>
                </div>
                <div class="icon-button-goup right" id="invite-button">
                    <button id="invite-btn" type="button" class="icon-button"
                        style="background: transparent;border: 1px solid white;" data-toggle="modal"
                        data-target="#share_room_modal">
                        <img class="icon custom-tooltip" src="/images/newUI/invite.svg" alt="Invite"
                            tooltipTitle="Invite" />
                    </button type="button">
                    <button type="button" class="icon-button" style="background: transparent;border: 1px solid white;"
                        id="more-button" data-target="#more-opts-modal" data-toggle="modal">
                        <img class="icon custom-tooltip" src="/images/newUI/More.svg" alt="More" tooltipTitle="More" />
                    </button type="button">
                </div>
            </div>
        </div>
        <div style="display: none;" class="custom-modal open" id="more">
            <ul class="options">
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/noun.svg" alt="exit" />
                    </div>
                    <div class="text">Change environment</div>
                </li>
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/settings.svg" alt="exit" />
                    </div>
                    <div class="text">Settings</div>
                </li>
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/record.svg" alt="exit" />
                    </div>
                    <div class="text">Record Room</div>
                </li>
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/delete.svg" alt="exit" />
                    </div>
                    <div style="color: #f24742" class="text">Delete Room</div>
                </li>
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/metro.svg" alt="exit" />
                    </div>
                    <div class="text">Help</div>
                </li>
            </ul>
        </div>
        <div style="display: none;" aria-modal="true" class="custom-modal open" id="invite">
            <div class="custom-modal-header">
                <img class="icon close" src="/images/newUI/Close.svg" alt="close" />
                <div class="typography">Invite</div>
            </div>
            <ul class="options invite">
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/link.svg" alt="exit" />
                    </div>
                    <div class="text">Via link</div>
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/copy.svg" alt="exit" />
                    </div>
                </li>
                <li class="option">
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/key.svg" alt="exit" />
                    </div>
                    <div class="text">Passcode</div>
                    <div class="option-icon-button">
                        <img class="icon" src="/images/newUI/copy.svg" alt="exit" />
                    </div>
                </li>
            </ul>
            <form class="form email-form">
                <input class="input-email" type="email" placeholder="Example@email.com" required />
                <button class="btn submit" type="button">Invite</button>
            </form>
        </div>
        <div class="modal fade" id="openAnnotationModal" tabindex="-1" role="dialog"
            aria-labelledby="openAnnotationCenterTitle" aria-hidden="true">
            <div id="annotation-modal" class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 style="display: inline-block;color: black !important;font-weight: bold;">
                                        Select Annotation
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 1.2em">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="grid-4 tiles ann">
                            </div>
                            <br />
                            <form>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" aria-label="Checkbox for following text input"
                                                id="annotate-checkbox" />
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Text..." disabled
                                        aria-label="Text input with checkbox" id="annotate-input" disabled />
                                </div>

                                <div class="row" style="text-align: center">
                                    <div class="col-md-12">
                                        <button id="submitAnnotation" type="submit" class="btns submit btn-success"
                                            style="background-color: #787ff6; color: white;">
                                            Annotate
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="openLibraryModal" style="display: none;" tabindex="-1" role="dialog"
            aria-labelledby="openLibraryCenterTitle" aria-hidden="true">
            <div id="library-modal" class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="max-height: none;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="icon logo" src="/images/newUI/Lib.svg" alt="library" />
                                    <h4 style="display: inline-block;color: black !important;font-weight: bold;">
                                        Library
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 1.2em">&times;</span>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding: 20px;padding-left: 40px;">
                                        <input class="radio-btn-tab" id="saved-btn" name="group" type="radio" checked />
                                        <input class="radio-btn-tab" id="screenshot-btn" name="group" type="radio" />
                                        <input class="radio-btn-tab" id="option2-btn" name="group" type="radio" />
                                        <input class="radio-btn-tab" id="option3-btn" name="group" type="radio" />

                                        <label id="svaed-label" type="submit" class="btns submit btn-success ns lib"
                                            for="saved-btn">
                                            3D models
                                        </label>
                                        <label id="screenshot-label" type="submit"
                                            class="btns submit btn-success ns lib" for="screenshot-btn">
                                            Images
                                        </label>
                                        <label id="option2-label" type="submit" class="btns submit btn-success ns lib"
                                            for="option2-btn">
                                            Videos
                                        </label>
                                        <label id="option3-label" type="submit" class="btns submit btn-success ns lib"
                                            for="option3-btn">
                                            PDFS
                                        </label>
                                        <div id="tab-body-saved" class="grid-4 tiles lib"></div>
                                        <div id="tab-body-screenshot" class="grid-4 tiles lib"></div>
                                        <div id="tab-body-option-1" class="grid-4 tiles lib"></div>
                                        <div id="tab-body-option-2" class="grid-4 tiles lib"></div>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center; display: none;" id="model-preview-div">
                                    <div id="model-preview">
                                    </div>
                                </div>
                                <div class="row" style="text-align: center; display: none;" id="modelUploadBtnDiv">
                                    <div class="col-md-6"><button type="button" id="confirmModelUpload"
                                            class="btns submit btn-success model-preview-btn">Confirm</button></div>
                                    <div class="col-md-6"><button type="button" id="cancelModelUpload"
                                            class="btns submit btn-success model-preview-btn">Cancel</button></div>
                                </div>
                                <br />
                                <div class="row" style="text-align: center">
                                    <div class="col-md-12">
                                        <button style="background-color: #787ff6;color: #fff;" id="submitLibrary"
                                            type="submit" class="btns submit btn-success">
                                            Upload Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TV library-->
        <div class="modal fade" id="openAttachmentModalTV" style="display: none;" tabindex="-1" role="dialog"
            aria-labelledby="openTVLibraryCenterTitle" aria-hidden="true">
            <div id="tvlibrary-modal" class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="max-height: none;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="icon logo" src="/images/newUI/Lib.svg" alt="library" />
                                    <h4 style="display: inline-block;color: black !important;font-weight: bold;">
                                        TV Library
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 1.2em">&times;</span>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding: 20px;padding-left: 40px;">
                                        <input class="radio-btn-tab" id="image-tv-btn" name="group2" type="radio"
                                            checked />
                                        <input class="radio-btn-tab" id="video-tv-btn" name="group2" type="radio" />

                                        <label id="image-label" type="submit" class="btns submit btn-success ns lib"
                                            for="image-tv-btn">
                                            Images
                                        </label>
                                        <label id="video-label" type="submit" class="btns submit btn-success ns lib"
                                            for="video-tv-btn">
                                            Videos
                                        </label>
                                        <div id="tab-body-tv-image" class="grid-4 tiles lib"></div>
                                        <div id="tab-body-tv-video" class="grid-4 tiles lib"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TV library End-->

        <!-- RIGHT SIDEBAR -->
        <div id="sidebar-right" class="right-sidebar">
            <div class="sidebar-widget" style="float: right;">
                <button class="btn btn-circle btn-md hide_sidebar_btn" id="close_sidebar_btn"><img
                        src="/images/rightArrow.png" alt="message" style="width: 2em; margin-right: 20px;"></button>
                <!-- <a class="btn btn-primary ">
    <i class="fa fa-arrow-right"></i>
</a> -->
            </div>
            <div class="sidebar-widget">
                <!-- <div class="row margin-top-30">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#chat_div" role="tab" data-toggle="tab"><b>Chat</b></a></li>
                                    <li><a href="#participants_div" role="tab" data-toggle="tab"><b>Participants</b></a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                <div class="row">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="chat_div">
                            <!-- This is for chat -->
                            <div class="chat_body_div">
                                <div class="list-unstyled chat_list">
                                    <!-- Chat li elements goes here -->
                                </div>
                            </div>

                            <div class="col-md-12 chat_input_div">
                                <input type="text" class="form-control" id="chat_msg_inp" placeholder="Your message">
                                <button class="btn btn-circle btn-md send_msg_btn" id="send_msg_btn"
                                    style="background:none;transform: translateX(140px);margin-top: -38px;"><img
                                        src="/images/sendMessage.png" alt="message"
                                        style="width: 2em; margin-right: 20px;"></button>
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="participants_div">
                                    <div class="participants-list-div">
                                        <ul class="list-unstyled list-contacts">
                                        </ul>
                                    </div>
                                </div> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- END RIGHT SIDEBAR -->
    </div>

    <div class="icon-button row objects-row" id="obj-people" style="display: none;">
        <img src="/images/newUI/Teleport.svg" alt="people" class="icon custom-tooltip" tooltipTitle="Teleport" />
        <!-- <div class="d-flex">
                    <div class="ele-obj text" id="people">People</div>
                    <div class="ele-obj vertical-line"></div>
                    <div class="ele-obj text" id="object">Object</div>
                </div> -->
    </div>
    <!--PEOPLE RIGHT SIDEBAR -->
    <div id="sidebar-right-people" class="right-sidebar-people">
        <div class="sidebar-widget" style="float: right;">
            <button class="btn btn-circle btn-md hide_sidebar_btn" id="close_sidebar_btn"><img
                    src="/images/rightArrow.png" alt="message" style="width: 2em; margin-right: 20px;"></button>

        </div>
        <div class="sidebar-widget">
            <div class="row margin-top-30">
                <div class="panel-heading">
                    <ul class="nav nav-tabs people-tabs" role="tablist">
                        <li class="active"><b>People</b></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- PEOPLE END RIGHT SIDEBAR -->

    <!--OBJECT RIGHT SIDEBAR -->
    <div id="sidebar-right-object" class="right-sidebar-object">
        <div class="sidebar-widget" style="float: right;">
            <button class="btn btn-circle btn-md hide_sidebar_btn" id="close_sidebar_btn"><img
                    src="/images/rightArrow.png" alt="message" style="width: 2em; margin-right: 20px;"></button>

        </div>
        <div class="sidebar-widget">
            <div class="row margin-top-30">
                <div class="panel-heading">
                    <div style="z-index: 5;" class="nav nav-tabs people-tabs" role="tablist">
                        <input class="radio-btn-tab" name="tele-tab" type="radio" id="tab-btn-object" checked>
                        <input class="radio-btn-tab" name="tele-tab" type="radio" id="tab-btn-people">
                        <label id="object-label" type="submit" class="btns submit btn-success ns" for="tab-btn-object"
                            style="transform: translateX(0%);background: #d9d9d9;padding: 15px; position: absolute; padding-left: 70px;">
                            Object
                        </label>
                        <label id="people-label" type="submit" class="btns submit btn-success ns" for="tab-btn-people"
                            style="transform: translateX(0%);background: #d9d9d9;padding: 15px; position: absolute; padding-right: 70px;">
                            People
                        </label>
                        <div class="row" id="object-row">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="chat_div">
                                    <ul id="object-list"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="people-row">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="chat_div">
                                    <ul id="people-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- OBJECT END RIGHT SIDEBAR -->

    <!-- div for overlaying ui/ux elements -->
    <div id="info" class="h-100">

        <div class="d-flex justify-content-center pt-2" style="height: 12.5%;">
            <div id="companylogodiv" style="display: none;  margin-top: 20%;" class="align-self-start">
                <img id="companylogo" height="100px" src="/images/AjnaSuite_Logo_Main.png" alt="AjnaLens"
                    style="background-color: white; border-radius: 5px;">
            </div>
        </div>
        <br>
        <br>
        <!-- Model load Bar -->
        <div class="d-flex justify-content-center pt-2" style="height: 12.5%;">
            <div id="model_load_bar_container" class="progress align-self-start"
                style="width: 20%;display: none; margin-left: 0%;">
                <div id="model_load_bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <span id="model_load_bar_percent"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- scene upload Modal -->
    <div class="modal fade" id="openSceneModal" tabindex="-1" role="dialog" aria-labelledby="openSceneCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <h4 style="display: inline-block; color: black !important;">Enter Scene Name
                                    <h2>
                            </div>
                        </div>

                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <input id="enterScene" class="form-control" placeholder="AjnaMeet1"
                                    style="border-width:0 0 2px; outline: 0; border-color: black; box-shadow: none; width: 50%; display: inline-block; text-align: center;" />
                            </div>
                        </div>
                        <br>
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <button id="submitScene" type="button" class="btn btn-success">Upload</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bg_img_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"
                        style="display: inline-block; color: black !important;">Select Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="bg_img">
                        <img id="imgBG" src="/images/final8.png" alt="backgroundImage" width="100%" />
                    </div>
                    <div class="bg_img">
                        <img id="imgBG" src="/images/BGWooden.png" alt="backgroundImage" width="100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Screenshot modal -->
    <div class="modal fade" id="screenshot_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"
                        style="display: inline-block; color: black !important;">Select Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="screenshotList">
                </div>
            </div>
        </div>
    </div>

    <!-- Sharing room link modal -->
    <div class="modal fade" id="share_room_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"
                        style="display: inline-block; color: black !important;">Share this room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <div class="field-wrapper">
                                    <div class="field-placeholder"><span class="tooltiptext" id="myTooltip">Copy to
                                            clipboard</span></div>
                                    <input type="text" id="roomIdShare" class="form-control" readonly>
                                </div>
                            </div>
                        </div><br>
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <div class="field-wrapper">
                                    <input type="text" id="emailList" placeholder="Participants Email"
                                        class="form-control" autocomplete="off" spellcheck="false" required="required">
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="button" id="sendEmailBtn" class="btn">Send Email</button>
                </div>
            </div>
        </div>
    </div>

    <!-- more options modal -->
    <div class="modal fade" id="more-opts-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document"
            style="margin: 0; align-items: flex-end;">
            <div class="modal-content">
                <div class="modal-body settings-body">
                    <div class="row opts">
                        <img class="icon" style="margin: 10px;" src="/images/newUI/settings.svg" alt="exit" />
                        <div class="col-md-12" data-toggle="modal" data-target="#openSettingsModal">
                            Settings
                        </div>
                    </div>
                    <div class="row opts">
                        <img class="icon" style="margin: 10px;" src="/images/newUI/metro.svg" alt="exit" />
                        <div class="col-md-12" data-toggle="modal" data-target="#openInfoModal">
                            Info
                        </div>
                    </div>
                    <div id="record-btn" class="row opts">
                        <img class="icon" style="margin: 10px;" src="/images/newUI/record.svg" alt="exit" />
                        <div id="record" class="col-md-12">
                            Record
                        </div>
                    </div>
                    <div style="display: none;" id="stop-recording-btn" class="row opts">
                        <img class="icon" style="color: #f24742;margin: 10px;" src="/images/newUI/delete.svg"
                            alt="exit" />
                        <div id="stopRecording" class="col-md-12">
                            Stop Recording
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- attachment Modal -->
    <div class="modal fade" id="openAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="overflow: visible; width: 600px;">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;" id="uploadBtnsRow">
                            <div class="col-md-6">
                                <input type="file" id="real-upload" style="display: none;" />
                                <button id="custom-upload" class="btn btn-dark">Upload</button>
                            </div>
                            <div class="col-md-6">
                                <select class="btn btn-dark" id="models" style="text-align-last:center;">
                                    <option value=''>--Load Models/Files--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="text-align: center; display: none;" id="model-preview-div">
                            <div id="model-preview">
                            </div>
                        </div>
                        <div class="row" style="text-align: center; display: none;" id="modelUploadBtnDiv">
                            <div class="col-md-6"><button type="button" id="confirmModelUpload"
                                    class="btn model-preview-btn">Confirm</button></div>
                            <div class="col-md-6"><button type="button" id="cancelModelUpload"
                                    class="btn model-preview-btn">Cancel</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- attachment for TV Modal -->
    <div class="modal fade" id="openAttachmentModalTVV1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" style="overflow: visible;">
                    <div class="container-fluid">
                        <div class="row" id="uploadBtnsRow">
                            <select class="btn btn-dark" id="assetsForTV" style="text-align-last:center;">
                                <option value=''>--Load Models/Files--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- save Room Modal -->
    <div class="modal fade" id="saveRoomModal" tabindex="-1" role="dialog" aria-labelledby="saveRoomCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <h4 style="display: inline-block; color: black !important;">Enter Project Name
                                    <h2>
                            </div>
                        </div>

                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <input id="projName" class="form-control" placeholder="Project-ABC"
                                    style="border-width:0 0 2px; outline: 0; border-color: black; box-shadow: none; width: 50%; display: inline-block; text-align: center;" />
                            </div>
                        </div>
                        <br>
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <button id="submitSaveRoom" type="button" class="btn btn-success">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- settingsModal -->
    <div class="modal fade" id="openSettingsModal" tabindex="-1" role="dialog" aria-labelledby="joinModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content homepageModal">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalJoinTitle" style="color: black; text-align: center;">Media Settings
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <div class="field-wrapper">
                                    <select class="btn btn-dark mr-2" id="audioDevices"
                                        style="text-align-last:center; width: 300px;">
                                        <option value=''>--Select Audio Device--</option>
                                    </select>
                                    <br>
                                    <br>
                                    <select class="btn btn-dark mr-2" id="videoDevices"
                                        style="text-align-last:center; width: 300px;">
                                        <option value=''>--Select Video Device--</option>
                                    </select>
                                    <br><br>
                                    <button id="switchDeviceSubmit" type="button" class="btn btn-primary homepageBtn"
                                        style="margin-bottom: 11px;">Switch</button>

                                </div>
                            </div>
                            <hr style="border: 1px solid gray; width: 90%; margin-left: 15px;">
                            <div class="col-md-12">
                                <div class="field-wrapper">
                                    <select class="btn btn-dark mr-2" id="setResolution"
                                        style="text-align-last:center; width: 300px;">
                                        <option value=''>--Resolution--</option>
                                        <option value='360p_1'>360p</option>
                                        <option value='480p_2'>480p</option>
                                        <option value='720p_2'>720p</option>
                                        <option value='1080p_2'>1080p_2</option>
                                        <option value='1080p_3'>1080p_3</option>
                                        <option value='1080p_5'>1080p_5</option>
                                    </select>
                                    <br>
                                    <br>
                                    <button id="switchRes" type="button"
                                        class="btn btn-primary homepageBtn">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="modal-footer" style="text-align: center;">
                            <button id="switchDeviceSubmit" type="button" class="btn btn-primary homepageBtn">Switch</button>
                        </div> -->
            </div>
        </div>
    </div>

    <!-- InfoModal -->
    <div class="modal fade" id="openInfoModal" tabindex="-1" role="dialog" aria-labelledby="joinModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content homepageModal">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalJoinTitle" style="color: black; text-align: center;"><b>How to
                            use?</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <div class="field-wrapper">
                                    <p style="color: black;"> Use <b>Arrow keys</b> to move in X-Z Plane </p>
                                    <p style="color: black;"> Use <b>Mouse</b> with Left-click to Rotate,
                                        <b>Scroll</b>to zoom in & out
                                    </p>
                                    <p style="color: black;"> Go to<b>'Settings'</b> to switch media devices or to
                                        change video Resolution. </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button id="closeInfoModal" type="button" class="btn btn-primary homepageBtn">Let's Begin</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Speech-to-text Modal -->
    <div class="modal custom-modal fade" id="speechToText" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content draggableModal">
                <div class="modal-body" style="color: black;">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;">
                            <p id="transcribedText"
                                style="word-wrap: break-word; font-size: larger; font-weight: bold; margin: 0px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Get Room Name (ejs script)  -->
    <script>
                <% if (room != null) { %>
            window.room = '<%= room %>';
            document.getElementById('roomIdShare').value = "https://CS5337.web.app/join/" + room;
                // alert("Your Room id is " + room);
                <% } else {%>
                // window.room = prompt("Enter Room Number");
                // document.getElementById("ar_room").href = "/arpaint/" + room;
                <% } %>

            console.log('Entering Room ' + room);
    </script>

    <!-- CDN for PDF.js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>

    <!-- Firbase CDNs and Cookie -->
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
    <script src="../js/firebase-config.js"></script>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!-- Global Variables -->
    <script>
        const roomName = room;
        // Options for joining a channel
        var option = {
            appID: "50e37a7cbd9a4188b54c3b9204788f19",
            channel: roomName.toString(),
            uid: null,
            token: null
        };
    </script>

    <!-- JQuery & Bootstrap Dependency -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
        type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <script>
        var mobile = (/iphone|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
        if (mobile) {
            window.location.href = '/downloadApp'
            // $('.navWrap').css('display', 'none'); // OR you can use $('.navWrap').hide();
        }

        $(document).ready(function () {
            $('.btn_msgs').click(function () {
                if (!$('.right-sidebar').hasClass('active')) {
                    $('.right-sidebar').addClass('active');
                    document.removeEventListener("mousewheel", onDocumentMouseWheel, false);
                } else {
                    $('.right-sidebar').removeClass('active');
                    document.addEventListener("mousewheel", onDocumentMouseWheel, false);
                }
            });

            $('.hide_sidebar_btn').on('click', function () {
                if ($('.right-sidebar').hasClass('active')) {
                    $('.right-sidebar').removeClass('active');
                    document.addEventListener("mousewheel", onDocumentMouseWheel, false);
                }
            });
            $('#people').click(function () {
                if (!$('.right-sidebar-people').hasClass('active')) {
                    $('.right-sidebar-people').addClass('active');
                    document.removeEventListener("mousewheel", onDocumentMouseWheel, false);
                }
            });

            $('.hide_sidebar_btn').on('click', function () {
                if ($('.right-sidebar-people').hasClass('active')) {
                    $('.right-sidebar-people').removeClass('active');
                    document.addEventListener("mousewheel", onDocumentMouseWheel, false);
                }
            });
            $('#object').click(function () {
                if (!$('.right-sidebar-object').hasClass('active')) {
                    $('.right-sidebar-object').addClass('active');
                    document.removeEventListener("mousewheel", onDocumentMouseWheel, false);
                }
            });

            $('.hide_sidebar_btn').on('click', function () {
                if ($('.right-sidebar-object').hasClass('active')) {
                    $('.right-sidebar-object').removeClass('active');
                    document.addEventListener("mousewheel", onDocumentMouseWheel, false);
                }
            });

            toastr.options = {
                "timeOut": "5000"
            };
        });

        var chat_input = document.getElementById("chat_msg_inp");
        chat_input.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) { //checks whether the pressed key is "Enter"
                $('#send_msg_btn').click();
            }
        });
    </script>

    <!-- Agora CDN -->
    <script src="https://download.agora.io/sdk/web/AgoraRTC_N-4.1.0.js"></script>
    <!-- <script src ="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script> -->
    <script src="/js/agora-rtm-sdk-1.4.1.js"></script>
    <script src="/sweetalert2/sweetalert2.js"></script>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>

    <!-- Main Script for ThreeJS operations -->
    <script src="/js/keyboard.js"></script>
    <script src="/js/moduleScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="/js/three-to-cannon.js"></script> -->

</body>

</html>