<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AjnaSuite Mobile</title>

	<!-- BootStrap 4 CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<style>
		* {
			font-family: 'Montserrat', sans-serif;
		}

		.main-content {
			margin: 10% 25%;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div class="main">
			<div class="main-content">
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<h1><b>Please visit via App</b></h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="module" src="../js/moduleScript.mjs"></script>

	<!-- BootStrap 4 JS Dependencies -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script>
		// var mobile = (/iphone|ipod|android|blackberry|mini|palm/i.test(navigator.userAgent.toLowerCase()));
		// if (!mobile) {
		// 	window.location.href = '/dashboard'
		// 	// $('.navWrap').css('display', 'none'); // OR you can use $('.navWrap').hide();
		// }
	</script>
</body>

</html>