<!--- Modified code --->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/css/dashsuperadmin.dashboard.css" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<link rel="stylesheet" href="/sweetalert2/sweetalert2.css" />
</head>

<body>
	<div id="body">
		<div class="overlay">
			<div style="position: relative" class="">
				<ul id="slide-out" class="sidenav sidenav-fixed">
					<li class="logo">
						<a class="navbar-brand" href="#">
							<img src="/images/Group 245.svg" alt="" />
						</a>
					</li>
					<li style="height: 5%"></li>

					<li>
						<a class="waves-effect waves-teal flex checked" href="/super-admin-dashboard">
							<div class="flex-sidenav">
								<div class="sidenav-icon">
									<i class="fa fas fa-solid fa-user-tie" style="color: #787FF6; padding:5px;"></i>
								</div>
								<div class="sidenav-text" style="font-family: 'Open sans',sans-serif; font-size: 18px;">Dashboard</div>
							</div>
						</a>
					</li>
					<li>
						<a class="waves-effect waves-teal flex" href="/sales-admins">
							<div class="flex-sidenav">
								<div class="sidenav-icon">
									<img class="sidenav-icon-img" src="/images/Vector (1).svg" />
								</div>
								<div class="sidenav-text" style="font-family: 'Open sans',sans-serif; font-size: 18px;">Sales Admin</div>
							</div>
						</a>
					</li>
					<li>
						<a class="waves-effect waves-teal flex" href="/clients">
							<div class="flex-sidenav">
								<div class="sidenav-icon">
									<img class="sidenav-icon-img" src="/images/Vector.svg" />
								</div>
								<div class="sidenav-text" style="font-family: 'Open sans',sans-serif; font-size: 18px;">Clients</div>
							</div>
						</a>
					</li>
					<li>
						<a class="waves-effect waves-teal flex" href="/dashboard">
							<div class="flex-sidenav">
								<div class="sidenav-icon">
									<img class="sidenav-icon-img" src="/images/HomeActive.png" />
								</div>
								
								<div class="sidenav-text" style="font-family: 'Open sans',sans-serif; font-size: 18px;"> Home</div>
							</div>
						</a>
					</li>
					<a class="logout-btn" href="/logout">
						<div class="logout-btn2" style="position: relative; top: 300px; right: 10px;">
							<div class="sidenav-icon">
								<img class="logoutimage" style="position: relative; right: 40px; top: 28px;"  src="/images/logout.png"  />
							</div>
							<div class="sidenav-text" style="font-family: 'Open sans',sans-serif; font-size: 18px; color: black;">Logout</div>
						</div>
					</a>
					<!-- 
					<li>
						<a class="waves-effect waves-teal flex" href="#!">
							<div class="flex-sidenav">
								<div class="sidenav-icon">
									<img class="sidenav-icon-img" src="/images/Path 229.svg" />
								</div>
								<div class="sidenav-text" style="font-family: 'Open sans',sans-serif; font-size: 18px;">Settings</div>
							</div>
						</a>
					</li>
					-->
				</ul>
			</div>
			<div class="body">
				<nav class="navbar">
					<div class="container-fluid evenly">
						<div class="component" style="width: 40%">
							<div class="form">
								<div class="mt-3 inputs">
									<img src="/images/Path 220.svg" />
									<input type="text" class="form-control"
										placeholder="Search by date & Oraganization name" />
								</div>
							</div>
						</div>
						<div class="component waves-effect acc" style="margin-right: 30px">
							<div class="flex account">
								<img src="/images/Vectorz.svg" class="logo-acc" />
								<div class="name-postion-tag flex">
									<div class="name">Super Admin</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<div class="sales-admin">
					<div class="sales-admin-body">
						<div class="row1">
							<div class="overview">
								<div class="overview-header">
									<div class="overview-header-text" style=" font-family: 'Poppins', sans-serif; font-size: 28px;">Overview</div>
								</div>
								<div class="canv" style="position: relative; height: 40vh; width: 45vw">
									<canvas id="myChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div class="records">
								<div class="records-header">
									<div class="records-header-text" style=" font-family: 'Poppins', sans-serif; font-size: 28px;">Records</div>
								</div>
								<div class="total-records">
									<div class="total tc">
										<div class="total-clients-nums">10k</div>
										<div class="total-clients-text" style=" font-family: 'Open sans', sans-serif; font-size: 18px;">Total Clients</div>
										<div class="total-clients-img">
											<img src="/images/Group 306.svg" />
										</div>
									</div>
									<div class="total tr">
										<div class="total-revenue">1M</div>
										<div class="total-clients-text" style="font-family: 'Open sans', sans-serif; font-size: 18px;">Total Revenue</div>
										<div class="total-clients-img">
											<img src="/images/Group 307.svg" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row2" style="width: 100%">
							<div class="requests">
								<div class="request-header">
									<div class="request-header-text" style=" font-family: 'Poppins', sans-serif; font-size: 28px; ">Recent Requests</div>
								</div>
								<div class="request-body" >
									<ul class="request-list" id="request-list">
										<li class="request">
											<div style="display: flex; align-items: center;">
												<div class="request-img member-icon">
													<!-- <img src="/images/Group 308.svg" class="logo"/> -->
													<div class="logo"></div>
												</div>
												<div class="request-cname" >
													<div class="request-cname-text" >
														Update account request for Mahindra&amp;Mahindra&nbsp;
													</div>
												</div>
												<div class="request-name">
													(By&nbsp;
													<div class="request-name-text">Mallesh G</div>
													)
												</div>
											</div>
											<div style="display: flex; align-items: center" docid="mahindraPune01">
												<div class="see-detes">
													<div class="see-details-btn">
														<button>See Details</button>
													</div>
												</div>
												<div class="approve">
													<img class="logo-tick" src="/images/Group 308.svg">
												</div>
												<div class="reject">
													<img class="logo-tick" src="/images/Group 309.svg">
												</div>
											</div>
										</li>
										<!-- <li class="request">
											<div style="display: flex; align-items: center">
												<div class="request-img member-icon">
													<img src="/images/Group 308.svg" class="logo"/> 
													<div class="logo"></div>
												</div>
												<div class="request-cname">
													<div class="request-cname-text">
														Create new account for Honda&nbsp;
													</div>
												</div>
												<div class="request-name">
													(By&nbsp;
													<div class="request-name-text">Kuldeep Pathak</div>
													)
												</div>
											</div>
											<div style="display: flex; align-items: center">
												<div class="see-detes">
													<div class="see-details-btn">See Details</div>
												</div>
												<div class="approve">
													<img class="logo-tick" src="/images/Group 308.svg" />
												</div>
												<div class="reject">
													<img class="logo-tick" src="/images/Group 309.svg" />
												</div>
											</div>
										</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Client Request Update Modal -->
	<div id="requestDetailsModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h5>Request for Create Account</h5>
			<div class="row">
				<form id="clientReqForm" class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<input disabled id="org-name" type="text" class="validate">
							<label for="org-name">Oraganization Name</label>
						</div>
						<div class="input-field col s6">
							<input disabled id="client-name" type="text" class="validate">
							<label for="client-name">Client Name</label>
						  </div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input disabled id="admin-email" type="text" class="validate">
							<label for="admin-email">Admin Email</label>
						</div>
						<div class="input-field col s6">
							<input disabled id="phone-no" type="text" class="validate">
							<label for="phone-no">Phone Number</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<input disabled id="cost" type="text" class="validate">
							<label for="cost">Cost (INR)</label>
						</div>
						<div class="input-field col s3">
							<select disabled id="minutes-allotted">
								<option value="" disabled selected>Choose your option</option>
								<option value="10">10K Mins</option>
								<option value="20">20K Mins</option>
								<option value="50">50K Mins</option>
								<option value="100">100K Mins</option>
							</select>
							<label>Communication (Mins)</label>
						</div>
						<div class="input-field col s3">
							<select disabled id="storage-allotted">
								<option value="" disabled selected>Choose your option</option>
								<option value="25">25 GB</option>
								<option value="50">50 GB</option>
								<option value="75">75 GB</option>
								<option value="100">100 GB</option>
							</select>
							<label>Storage (GB)</label>
						</div>
						<div class="input-field col s3">
							<input disabled id="seats-allotted" type="text" class="validate">
							<label for="seats-allotted">Seats</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<label>
								<input disabled id="annotationCheck" type="checkbox" class="filled-in" />
								<span>Annotation</span>
							</label>
						</div>
						<div class="input-field col s3">
							<label>
								<input disabled id="pdfCheck" type="checkbox" class="filled-in" />
								<span>PDF Manual</span>
							</label>
						</div>
						<div class="input-field col s3">
							<label>
								<input disabled id="model3dCheck" type="checkbox" class="filled-in" />
								<span>AR 3D Model</span>
							</label>
						</div>
						<div class="input-field col s3">
							<label>
								<input disabled id="recordingCheck" type="checkbox" class="filled-in" />
								<span>Recording</span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<label>
								<input disabled id="imageCheck" type="checkbox" class="filled-in" />
								<span>Image</span>
							</label>
						</div>
						<div class="input-field col s3">
							<label>
								<input disabled id="chatCheck" type="checkbox" class="filled-in" />
								<span>Chat</span>
							</label>
						</div>
						<div class="input-field col s3">
							<label>
								<input disabled id="videoCheck" type="checkbox" class="filled-in" />
								<span>Video</span>
							</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<a id="approveReq" class="modal-close waves-effect waves-green btn-flat">Approve</a>
			<a href="javascript:void(0);" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
		integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-storage.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc"></script>

	<script src="/js/firebase-config.js"></script>
	<script src="/sweetalert2/sweetalert2.js"></script>
	<script src="/js/dashsuperadmin.dashboard.js"></script>

</body>

</html>
